<!-- Edit Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form  [noValidate]="false">
                <div class="modal-header">
                    <h4 class="modal-title">แก้ไขข้อมูลสมาชิก</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>ชื่อ</label>
                        <input type="text" class="form-control" [(ngModel)]="model.mem_fname" name="mem_fname" required>
                    </div>
                    <div class="form-group">
                        <label>นามสกุล</label>
                        <input type="text" class="form-control" [(ngModel)]="model.mem_lname" name="mem_lname" required>
                    </div>
                    <div class="form-group">
                        <label>อีเมล์</label>
                        <input type="email" class="form-control" [(ngModel)]="model.mem_email" name="mem_email" required>
                    </div>
                    <div class="form-group">
                        <label>ที่อยู่</label>
                        <textarea class="form-control" [(ngModel)]="model.mem_address" name="mem_address" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>เบอร์โทรศัพท์</label>
                        <input type="text" class="form-control" [(ngModel)]="model.mem_phone" name="mem_phone" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="ยกเลิก">
                    <input type="submit" class="btn btn-info" value="บันทึก">
                </div>
            </form>
        </div>
    </div>
</div>