<section class="material-half-bg">
    <div class="cover"></div>
</section>
<section class="login-content">
    <div class="logo">
        <br>
        <h1>ลงทะเบียน</h1>
    </div>
    <div class="login-box">
        <form class="login-form"  [noValidate]= false>
            <h3 class="login-head">
                <i class="fa fa-lg fa-fw fa-user-plus"></i>
                ข้อมูลส่วนตัว
            </h3>
        <!-- (submit)="onSubmit()"-->
            <div class="form-group">
                <label class="control-label">ชื่อ</label>
                <input class="form-control"  name="mem_fname" type="text" placeholder="กรุณากรอกข้อมูล">
                <!-- [(ngModel)]="model.mem_fname" -->
            </div>

            <div class="form-group">
                <label class="control-label">นามสกุล</label>
                <input class="form-control" name="mem_lname" type="text" placeholder="กรุณากรอกข้อมูล">
            </div>

            <div class="form-group">
                <!-- <label class="control-label">เลขประจำตัวประชาชน</label>
                <input class="form-control" type="number" name="mem_id_card" placeholder="กรุณากรอกข้อมูล"> -->
                <label class="control-label">เลขบัตรประจำตัวประชาชน</label>
                <input class="form-control" name="mem_id_card" type="number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  maxlength="13" onkeypress="return event.charCode >= 48 && event.charCode <= 57"  placeholder="กรุณากรอกข้อมูล">
            </div>

            <div class="form-group">
                <label class="control-label">อีเมล์</label>
                <input class="form-control"  type="text" name="mem_email" placeholder="กรุณากรอกข้อมูล">
            </div>

            <div class="form-group">
                <label class="control-label">รหัสผ่าน</label>
                <input class="form-control" name="mem_password" type="password" placeholder="กรุณากรอกข้อมูล">
            </div>

            <div class="form-group">
                <label class="control-label">ยืนยันรหัสผ่าน</label>
                <input class="form-control" type="password" name="mem_cpassword" placeholder="กรุณากรอกข้อมูล">
            </div>

            <!-- <div class="form-group">
                <button class="btn btn-primary">
                  <i class="fa fa-arrow-right"></i> ต่อไป
                </button>
            </div> -->

                <div class="form-group">
                    <div class="pull-right">
                        <a class="btn btn-primary" [routerLink]="['/', Url.Register]" >
                          ต่อไป <i class="fa fa-arrow-right"></i>
                         <span> </span>
                        </a>
                      </div>
                </div>

        </form>
    </div>
</section>
