<app-auth-content>
  <div class="app-title">
    <div>
      <h1><i class="fa fa-users"></i> เพิ่มสมาชิก</h1>
      <p>หน้าเพิ่มสมาชิก</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">
        <i class="fa fa-home fa-lg"></i>
      </li>
      <li class="breadcrumb-item">
        <a href="#">เพิ่มสมาชิก</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">

        <!-- ส่วนหัว -->
        <div class="tile-title-w-btn">
          <h3 class="title">
            <i class="fa fa-user-plus"></i> เพิ่มสมาชิก
          </h3>
        </div>

        <!-- ส่วนฟอร์ม -->

        <!-- Test ลองทำ -->
        <!-- <a href="#addEmployeeModal" class="btn btn-success"
                    [routerLink]="['/', AppURL.Authen, AuthURL.Addmembers]">
                     data-toggle="modal" แปะไว้เผื่อใช้เรียกหน้า pop up 
                    <i class="material-icons">&#xE147;</i>
                    <span>
                        เพิ่มสมาชิก
                    </span>
                </a> -->





        <div class="form-group" *ngFor="let item of addminItem">

          <label>Admin name : {{item.a_fname}} {{item.a_lname}}</label> <br>

          <button onclick="TestAdmin()">คลิก</button>

          <p id="demo"></p>

          <!-- <script>
            function TestAdmin() {
              // var hour = new Date().getHours();
              var x = 1;
              var y = 2;
              if (x === y) {
                y = "ok";
              } else {
                y = "no";
              }
              document.getElementById("demo").innerHTML = y;
            }
          </script> -->

        </div>
        <!-- <form (submit)="onClickTest()">

          <p id="demo">JavaScript can change HTML content.</p>
          <p id="demo1">Paragraph changed.</p>
          <button type="submit" class="btn btn-primary">
            กดเลย!
          </button>
          <button type="submit" class="btn btn-primary">
            กดกลับ!
          </button>
        </form>

        <p id="demo"></p>

        <script>
          var xmlhttp = new XMLHttpRequest();

          xmlhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
              myObj = JSON.parse(this.responseText);
              document.getElementById("demo").innerHTML = myObj.name;
            }
          };
          xmlhttp.open("GET", "get.php", true);
          xmlhttp.send();
        </script> -->

        <!-- Test สิ้นสุดการลองทำ -->

        <div class="tile-body"></div>
        <form (submit)="onSubmit()" [noValidate]="false">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <!-- <img *ngIf="!form.value.image" src="assets/images/no-image-profile.png" class="img-fluid img-thumbnail"> -->
                <!-- <img *ngIf="form.value.image" [src]="form.value.image" class="img-fluid img-thumbnail"> -->
              </div>
              <div class="form-group">
                <input type="file" #inputFile>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="form-group">
                <label for="">ชื่อผู้ใช้</label>
                <input type="text" class="form-control" [(ngModel)]="model.mem_username" name="mem_username"
                  placeholder="กรุณากรอกข้อมูล" required>
              </div>
              <div class="row">

                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="">ชื่อ</label>
                    <input type="text" class="form-control" [(ngModel)]="model.mem_fname" name="mem_fname"
                      placeholder="กรุณากรอกข้อมูล" required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="">นามสกุล</label>
                    <input type="text" class="form-control" [(ngModel)]="model.mem_lname" name="mem_lname"
                      placeholder="กรุณากรอกข้อมูล" required>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="">เลขประจำตัวประชาชน</label>
                <input type="text" class="form-control" [(ngModel)]="model.mem_id_card" name="mem_id_card" type="number"
                  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                  maxlength="13" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                  placeholder="กรุณากรอกข้อมูล" required>
              </div>
              <div class="form-group">
                <label for="">อีเมล์</label>
                <input type="email" class="form-control" [(ngModel)]="model.mem_email" name="mem_email"
                  placeholder="กรุณากรอกข้อมูล" required>
              </div>
              <div class="form-group">
                <label for="">รหัสผ่าน</label>
                <input class="form-control" [(ngModel)]="model.mem_password" name="mem_password" type="password"
                  placeholder="กรุณากรอกข้อมูล" required>
              </div>
              <br>
              <div class="form-group">
                <label for="">ชื่อร้าน</label>
                <input type="text" class="form-control" [(ngModel)]="model.mem_service_name" name="mem_service_name"
                  placeholder="กรุณากรอกข้อมูล" required>
              </div>
              <div class="form-group">
                <label for="">รายละเอียด</label>
                <textarea type="text" class="form-control" [(ngModel)]="model.mem_detials" name="mem_detials"
                  placeholder="กรุณากรอกข้อมูล" required></textarea>
              </div>
              <div class="form-group">
                <label for="">ที่อยู่</label>
                <textarea type="text" class="form-control" [(ngModel)]="model.mem_address" name="mem_address"
                  placeholder="กรุณากรอกข้อมูล" required></textarea>
              </div>

              <!-- จังหวัด อำเภอ ตำบล -->

              <div class="form-group">
                <label for="">เบอร์โทรศัพท์</label>
                <input type="text" class="form-control" [(ngModel)]="model.mem_phone" name="mem_phone"
                  placeholder="กรุณากรอกข้อมูล" required>
              </div>

              <!-- รูปร้าน -->

              <!-- รูปใบอนุญาตประกอบกิจการ -->

              <!-- <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="">ตำแหน่ง</label>
                              <select class="form-control" formControlName="position">
                                  <option value="">เลือกตำแหน่งงาน</option>
                                  <option *ngFor="let item of positionItems" [value]="item">
                                      {{ item }}
                                  </option>
                              </select>
                          </div>
                          </div>

                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="">สิทธิ์ผู้ใช้งาน</label>
                                <select class="form-control" formControlName="role">
                                    <option value="">เลือกสิทธิ์ผู้ใช้งาน</option>
                                    <option *ngFor="let item of roleItems" [value]="item">
                                        {{ getRoleName(item) }}
                                    </option>
                                </select>
                            </div>
                          </div>
                      </div> -->

            </div>
          </div>

          <hr>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-save"></i> บันทึกข้อมูลโปรไฟล์
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</app-auth-content>